body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.cookiesContent {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px 30px;
}

.cookiesContent img {
    width: 100%;
}

.cookiesContent p {
    margin-bottom: 40px;
    font-size: 18px;
}

.cookiesContent button.accept {
    background-color: #e03b4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 180px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
}